<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    
    <div class="container">
        <h1>Login  Usuarios</h1>

        <% if(status == "2"){ %>
            <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            email e/ou senha invalida</b>
        </div>
    <%}%>
    
    <form action="/usuario/login" method="post">
        
        <div>
            <label class="form-label">email:</label>
            <input class="form-control" type="text" name="email" required>
        </div>
  
        <div>
            <label class="form-label">senha:</label>
            <input class="form-control" type="text" name="senha" required>
        </div><br>
        <div>
            <button type="submit" class="btn btn-success">login</button>
            <a class="btn btn-primary" href="/usuario/cadastrar">não possui conta?</a>
        
        </div>
        
    </form>
</div>
<%-include("../partials/rodape.ejs")%>
</body>
</html>